<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.AppMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.App">
    <constructor>
      <idArg column="app_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="version_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="delcare" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="file" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    app_id, version_code, delcare, file, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.App">
    insert into app (app_id, version_code, delcare, 
      file, create_time)
    values (#{appId,jdbcType=INTEGER}, #{versionCode,jdbcType=INTEGER}, #{delcare,jdbcType=VARCHAR}, 
      #{file,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.App">
    insert into app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="delcare != null">
        delcare,
      </if>
      <if test="file != null">
        file,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="versionCode != null">
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="delcare != null">
        #{delcare,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.App">
    update app
    <set>
      <if test="versionCode != null">
        version_code = #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="delcare != null">
        delcare = #{delcare,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.App">
    update app
    set version_code = #{versionCode,jdbcType=INTEGER},
      delcare = #{delcare,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>

  <select id="selectByversionCode" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from app
    where version_code = #{versionCode,jdbcType=INTEGER}
  </select>
  <insert id="inserttoapp" useGeneratedKeys="true" keyProperty="app_id" parameterType="com.njs.agriculture.pojo.App">
    insert into app ('version_code','delcare','file')values (#{app.versionCode},#{app.declare},#{app.file})
  </insert>
  <select id="getLatestApk"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from app order by create_time desc

  </select>
</mapper>