<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.CropInfoMapper">
    <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.CropInfo">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="source_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="source" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, category_id, name, source_id, source
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crop_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crop_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.njs.agriculture.pojo.CropInfo" useGeneratedKeys="true" keyProperty="id">
    insert into crop_info (id, category_id, name, 
      source_id, source)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sourceId,jdbcType=INTEGER}, #{source,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.CropInfo">
        insert into crop_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="source != null">
                source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                #{source,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.CropInfo">
        update crop_info
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.CropInfo">
    update crop_info
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=INTEGER},
      source = #{source,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByCateId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crop_info
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>

    <select id="selectByCateIdOrUserId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crop_info
        where category_id = #{cateId,jdbcType=INTEGER} or source_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crop_info
    </select>
</mapper>