<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.CropThirdCateMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.CropThirdCate">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="firstcate_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="secondcate_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, firstcate_id, secondcate_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crop_thirdcate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crop_thirdcate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.CropThirdCate">
    insert into crop_thirdcate (id, name, firstcate_id, 
      secondcate_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{firstcateId,jdbcType=INTEGER}, 
      #{secondcateId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.CropThirdCate">
    insert into crop_thirdcate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="firstcateId != null">
        firstcate_id,
      </if>
      <if test="secondcateId != null">
        secondcate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstcateId != null">
        #{firstcateId,jdbcType=INTEGER},
      </if>
      <if test="secondcateId != null">
        #{secondcateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.CropThirdCate">
    update crop_thirdcate
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstcateId != null">
        firstcate_id = #{firstcateId,jdbcType=INTEGER},
      </if>
      <if test="secondcateId != null">
        secondcate_id = #{secondcateId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.CropThirdCate">
    update crop_thirdcate
    set name = #{name,jdbcType=VARCHAR},
      firstcate_id = #{firstcateId,jdbcType=INTEGER},
      secondcate_id = #{secondcateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>