<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.Enterprise">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="industry" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="main_product" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="valid_certificate" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, credit_code, industry, main_product, valid_certificate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterprise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.Enterprise">
    insert into enterprise (id, name, credit_code, 
      industry, main_product, valid_certificate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{mainProduct,jdbcType=VARCHAR}, #{validCertificate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.Enterprise">
    insert into enterprise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="creditCode != null">
        credit_code,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="mainProduct != null">
        main_product,
      </if>
      <if test="validCertificate != null">
        valid_certificate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="mainProduct != null">
        #{mainProduct,jdbcType=VARCHAR},
      </if>
      <if test="validCertificate != null">
        #{validCertificate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.Enterprise">
    update enterprise
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="mainProduct != null">
        main_product = #{mainProduct,jdbcType=VARCHAR},
      </if>
      <if test="validCertificate != null">
        valid_certificate = #{validCertificate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.Enterprise">
    update enterprise
    set name = #{name,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      main_product = #{mainProduct,jdbcType=VARCHAR},
      valid_certificate = #{validCertificate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>