<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.InputConsumeMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.InputConsume">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userinput_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="enterpriseinput_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, userinput_id, enterpriseinput_id, quantity, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from input_consume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from input_consume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.InputConsume">
    insert into input_consume (id, userinput_id, enterpriseinput_id, 
      quantity, create_time)
    values (#{id,jdbcType=INTEGER}, #{userinputId,jdbcType=INTEGER}, #{enterpriseinputId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.InputConsume">
    insert into input_consume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userinputId != null">
        userinput_id,
      </if>
      <if test="enterpriseinputId != null">
        enterpriseinput_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userinputId != null">
        #{userinputId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseinputId != null">
        #{enterpriseinputId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.InputConsume">
    update input_consume
    <set>
      <if test="userinputId != null">
        userinput_id = #{userinputId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseinputId != null">
        enterpriseinput_id = #{enterpriseinputId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.InputConsume">
    update input_consume
    set userinput_id = #{userinputId,jdbcType=INTEGER},
      enterpriseinput_id = #{enterpriseinputId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>