<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.MachiningMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.Machining">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stock_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="output" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="level" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="record" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="inspector" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image_list" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="source" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="source_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="field_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="standard" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, stock_id, quantity, output, level, record, inspector, image_list, create_time, 
    source, source_id, type_status, field_id, standard
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from machining
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from machining
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.Machining">
    insert into machining (id, stock_id, quantity, 
      output, level, record, 
      inspector, image_list, create_time, 
      source, source_id, type_status, 
      field_id, standard)
    values (#{id,jdbcType=INTEGER}, #{stockId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, 
      #{output,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR}, 
      #{inspector,jdbcType=VARCHAR}, #{imageList,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{source,jdbcType=INTEGER}, #{sourceId,jdbcType=INTEGER}, #{typeStatus,jdbcType=INTEGER}, 
      #{fieldId,jdbcType=INTEGER}, #{standard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.Machining">
    insert into machining
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="output != null">
        output,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="inspector != null">
        inspector,
      </if>
      <if test="imageList != null">
        image_list,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="typeStatus != null">
        type_status,
      </if>
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="standard != null">
        standard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="output != null">
        #{output,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null">
        #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="imageList != null">
        #{imageList,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="typeStatus != null">
        #{typeStatus,jdbcType=INTEGER},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.Machining">
    update machining
    <set>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="output != null">
        output = #{output,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null">
        inspector = #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="imageList != null">
        image_list = #{imageList,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="typeStatus != null">
        type_status = #{typeStatus,jdbcType=INTEGER},
      </if>
      <if test="fieldId != null">
        field_id = #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.Machining">
    update machining
    set stock_id = #{stockId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      output = #{output,jdbcType=INTEGER},
      level = #{level,jdbcType=VARCHAR},
      record = #{record,jdbcType=VARCHAR},
      inspector = #{inspector,jdbcType=VARCHAR},
      image_list = #{imageList,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=INTEGER},
      source_id = #{sourceId,jdbcType=INTEGER},
      type_status = #{typeStatus,jdbcType=INTEGER},
      field_id = #{fieldId,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义部分-->
  <select id="selectBySource" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from machining
    where source = #{source}
    and source_id = #{sourceId}
  </select>
  <select id="selectByStockId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from machining
    where stock_id = #{stockId}
  </select>

  <select id="selectByKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from machining
    where id = #{machineId} or id = #{packId}
  </select>
</mapper>