<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.ProcessRecordMapper">
    <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.ProcessRecord">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="batch_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="location" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="crop_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="operation" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="input_record" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="weather" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="source" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="source_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, batch_id, location, crop_id, operation, input_record, create_time, remark, weather, 
    source, source_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from process_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.njs.agriculture.pojo.ProcessRecord" useGeneratedKeys="true" keyProperty="id">
    insert into process_record (id, batch_id, location, 
      crop_id, operation, input_record, 
      create_time, remark, weather, 
      source, source_id)
    values (#{id,jdbcType=INTEGER}, #{batchId,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{cropId,jdbcType=INTEGER}, #{operation,jdbcType=VARCHAR}, #{inputRecord,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{weather,jdbcType=VARCHAR}, 
      #{source,jdbcType=TINYINT}, #{sourceid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.ProcessRecord">
        insert into process_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="batchId != null">
                batch_id,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="cropId != null">
                crop_id,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="inputRecord != null">
                input_record,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="weather != null">
                weather,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="sourceid != null">
                source_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="batchId != null">
                #{batchId,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="cropId != null">
                #{cropId,jdbcType=INTEGER},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="inputRecord != null">
                #{inputRecord,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="weather != null">
                #{weather,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=TINYINT},
            </if>
            <if test="sourceid != null">
                #{sourceid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.ProcessRecord">
        update process_record
        <set>
            <if test="batchId != null">
                batch_id = #{batchId,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="cropId != null">
                crop_id = #{cropId,jdbcType=INTEGER},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="inputRecord != null">
                input_record = #{inputRecord,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="weather != null">
                weather = #{weather,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=TINYINT},
            </if>
            <if test="sourceid != null">
                source_id = #{sourceid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.ProcessRecord">
    update process_record
    set batch_id = #{batchId,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      crop_id = #{cropId,jdbcType=INTEGER},
      operation = #{operation,jdbcType=VARCHAR},
      input_record = #{inputRecord,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      weather = #{weather,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      source_id = #{sourceid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_record
        <where>
            <if test="sourceId != null and sourceId != 0">
                source_id = #{sourceId}
            </if>
            <if test="source != null and source != 0">
                source = #{source}
            </if>
            <if test="batchId != null and batchId != 0">
                AND batch_id = #{batchId}
            </if>
            <if test="cropId != null and cropId != 0">
                AND crop_id = #{cropId}
            </if>
            <if test="startTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectByRecordIds" parameterType="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_record
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>