<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.ProductStockMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.ProductStock">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="production_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="production_message" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shelf_life" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="batch_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="secure_image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="source" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="source_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="barcode" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, quantity, production_time, production_message, shelf_life, batch_id, 
    create_time, secure_image, source, source_id, barcode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.ProductStock" useGeneratedKeys="true" keyProperty="id">
    insert into product_stock (id, product_id, quantity, 
      production_time, production_message, shelf_life, 
      batch_id, create_time, secure_image, 
      source, source_id, barcode
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, 
      #{productionTime,jdbcType=TIMESTAMP}, #{productionMessage,jdbcType=VARCHAR}, #{shelfLife,jdbcType=INTEGER}, 
      #{batchId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{secureImage,jdbcType=VARCHAR}, 
      #{source,jdbcType=INTEGER}, #{sourceId,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.ProductStock">
    insert into product_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="productionTime != null">
        production_time,
      </if>
      <if test="productionMessage != null">
        production_message,
      </if>
      <if test="shelfLife != null">
        shelf_life,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="secureImage != null">
        secure_image,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="productionTime != null">
        #{productionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productionMessage != null">
        #{productionMessage,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        #{shelfLife,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secureImage != null">
        #{secureImage,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.ProductStock">
    update product_stock
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="productionTime != null">
        production_time = #{productionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productionMessage != null">
        production_message = #{productionMessage,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        shelf_life = #{shelfLife,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secureImage != null">
        secure_image = #{secureImage,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.ProductStock">
    update product_stock
    set product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      production_time = #{productionTime,jdbcType=TIMESTAMP},
      production_message = #{productionMessage,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      secure_image = #{secureImage,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      source_id = #{sourceId,jdbcType=INTEGER},
      barcode = #{barcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySource" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product_stock
    where source = #{source,jdbcType=INTEGER}
    and source_id = #{sourceId,jdbcType=INTEGER}
  </select>
  <select id="selectBySourceAndProductId" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product_stock
    where source = #{source,jdbcType=INTEGER}
    and source_id = #{sourceId,jdbcType=INTEGER}
    and product_id = #{productId}
  </select>
</mapper>