<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.User">
    <constructor>
      <idArg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phonenum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="license_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="license_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="location" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, phonenum, type, image,license_code,license_url,location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.User" useGeneratedKeys="true" keyProperty="userId">
    insert into user (user_id, username, password, 
      phonenum, type, image, license_code , license_url, location
      )
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{image,jdbcType=VARCHAR},#{licenseCode,jdbcType=VARCHAR},
      #{licenseUrl,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phonenum != null">
        phonenum,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="licenseCode != null">
        licenseCode,
      </if>
      <if test="licenseUrl != null">
        licenseUrl,
      </if>
      <if test="location != null">
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="licenseCode != null">
        #{licenseCode,jdbcType=VARCHAR},
      </if>
      <if test="licenseUrl != null">
        #{licenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njs.agriculture.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njs.agriculture.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      image = #{image,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="checkPhonenum" parameterType="string" resultType="java.lang.Integer">
    select count(1) from user
    where phonenum = #{phonenum}
  </select>
  <select id="checkUserName" parameterType="string" resultType="int">
    select count(1) from user
    where username = #{userName}
  </select>
  <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where phonenum = #{phonenum}
    and password = #{password}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
  </select>
  <update id="updatePasswordByPhoneNum" parameterType="string">
    update user
    set password = #{password}
    where phonenum = #{phonenum}
  </update>
  <select id="countByPhoneNum" parameterType="string" resultType="int">
    select
    count(*)
    from user
    where phonenum = #{phonenum}
  </select>
</mapper>