<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njs.agriculture.mapper.UserTypeMapper">
  <resultMap id="BaseResultMap" type="com.njs.agriculture.pojo.UserType">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="category" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.njs.agriculture.pojo.UserType">
    insert into user_type (id, category)
    values (#{id,jdbcType=TINYINT}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njs.agriculture.pojo.UserType">
    insert into user_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="category != null">
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>